:root {
    --text-align: center;
    --backgroung-color: skyblue;
    --height: auto;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: var(--backgroung-color);
    padding: 10px;
}

nav a {
    color: black;
    display: block;
    padding: 10px;
}

h1 {
    color: var(--backgroung-color);
}

main img {
    float: right;
    width: 150px;
    height: var(--height);
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
}

main {
    max-width: 840px;
}

aside {
    width: 20rem;
    text-align: var(--text-align);
}

aside img {
    width: 200px;
    height: var(--height);
}

aside h2 {
    position: absolute;
    top: 47px;
    left: 150px;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: var(--text-align);
}

/*Class Selectors*/

.box {
    margin: 1rem;
    border: 1px solid rgb(0, 0, 0 / 10%);
    padding: 1rem;
    background-color: white;
    color: #000;
}